.todolist {
    color: gray;
    display: block;
}
li{
    color: purple;
    display: block;
   

    
}
.title {
    color: black;
    display: block;
    margin-top: 18;
}

#id{
    color: black;
}