button {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: white;
    padding: 6px 10px;
    border: 0;
}

.popup-wrapper{
    background: #000 ;
    border-radius: 14px;
    padding: 8px;
}
h2 {
    background-color: aliceblue;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
p {
    color: aliceblue;
    text-align: center;
}